<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Login in</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <div class="form-group">
   <form class="form-signin" method="post" action="{% url 'login' %}">

          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" class="form-control" placeholder="Username" required autofocus name="username">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
          </div>

<!--
      <label for="usr">Phone Number</label>
      <input type="tel" class="form-control" id="usr" placeholder = "Enter your phone number">
    </div>
	<div class="form-group">
  <label for="pwd">Secret key:</label>
  <input type="password" class="form-control" id="pwd" placeholder = "Enter the secret key">
	</div>
-->
    <!--
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    -->
      {% csrf_token %}
      <button type="submit" class="btn btn-info btn-sm">Sign In</button>
   </form>
</div>
</div>

</body>
</html>
