{% extends "base.html" %}
{% block head %}
  <title>Login in</title>
{% endblock %}
{% block content %}
  <form class="form-signin" method="post" action="{% url 'login' %}" enctype="multipart/form-data">
    <div class="form-group">
      <label for="usr">Phone Number</label>
      <input type="tel" name="cellphone" class="form-control" id="usr" placeholder = "Enter your phone number">
    </div>
	  <div class="form-group">
      <label for="pwd">Secret key:</label>
      <input type="password" name="secretKey" class="form-control" id="pwd" placeholder = "Enter the secret key">
	  </div>
    <!--
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    -->
    {% csrf_token %}
    <button type="submit" class="btn btn-info btn-sm">Sign In</button>
  </form>
{% endblock %}
