{% extends "base.html" %}
{% block head %}
  <title>Settings</title>
{% endblock %}
{% block content %}
  <form class="form-signin" method="post" action="{% url 'settings' %}" enctype="multipart/form-data">
    <div class="form-group">
      <label for="usr">Emergency Contact</label>
      <input type="tel" name="emergencyContact" class="form-control" id="usr" placeholder = "Enter your emergency contact" value="{{ emergencyContact }}">
    </div>
	  <div class="checkbox">
      <label><input type="checkbox" name="SMS" value="SMS" {% if SMS %}checked{% endif %}>SMS</label>
	    <label><input type="checkbox" name="call" value="call" {% if call %}checked{% endif %}>Call</label>
    </div>
    <div class="form-group">
      <label for="usr">Red Alert Contact</label>
      <input type="tel" name="redAlertContact" class="form-control" id="usr" placeholder = "Enter your Red Alert Contact" value="{{ redAlertContact }}">
    </div>
  	<div class="form-group">
      <label for="pwd">Secret key (This will be used to login and call for help through SMS):</label>
      <input type="password" name="secretKey" class="form-control" id="pwd" placeholder = "Enter the secret key" value="{{ secretKey }}">
	  </div>
    {% csrf_token %}
    <input type="hidden" name="cellphone" value="{{ cellphone }}">
	  <input type="submit" class="btn btn-info btn-sm">
  </form>
{% endblock %}